button,
.button,
[type="button"],
[type="reset"],
[type="submit"] {
  display: flex;
  align-items: center;
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: var(--border-radius);
  color: $action-color--contrast;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family--heading);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: var(--spacing--small) var(--spacing);
  text-align: center;
  text-decoration: none;
  transition: background-color var(--duration) var(--timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: $action-color--alt;
  }

  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.button--alt {
    color: $action-color;
    background-color: $color-white;
    border: 2px solid $action-color;

    &:hover {
      background: linear-gradient(-69.63deg,   #5449D4  0%, #75F7F9 100%);
      color: white;
    }
  }

  svg {
    margin-right: .5rem;
  }
}
