// Colors
$color-blue: #63C9D7;
$color-blue-light: lighten(#63C9D7, 20%);
$color-blue-dark: darken(#63C9D7, 20%);
$color-gray: #333;
$color-white: #fff;

// Font Colors
$font-color--base: darken($color-blue, 50%);
$font-color--heading: #a9a9a9;
$action-color: $color-blue;
$action-color--alt: $color-blue-light;
$action-color--contrast: $color-white;

// Background Colors
$viewport-background-color: $color-white;

:root {
  // Typography
  --font-family: p22-mackinac-pro, "Georgia", serif;
  --font-family--heading: "Avenir Next", "Prompt", "Helvetica", system-ui, sans-serif;

  --font-weight--thin: 100;
  --font-weight--extra-light: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
  --font-weight--extra-bold: 800;
  --font-weight--black: 900;

  // Line heights
  --line-height: 1.5;
  --line-height--heading: 1.2;

  // Other Sizes
  --border-radius: 0.1875rem;
  --spacing: 1.5rem;
  --spacing--small: 0.75rem;

  // Borders
  --border-width: 0.0625rem;
  --border: var(--border-width) solid #a9a9a9;

  // Focus
  --focus-outline-width: 0.1875rem;
  --focus-outline-offset: 0.125rem;
  --focus-outline: var(--focus-outline-width) solid #{$action-color};

  // Animations
  --duration: 150ms;
  --timing: ease;
}
